<strong>Olá, {{ student }}</strong>
<p>Bem-vindo(a) a GYM Point, sua matricula foi realizada com sucesso em {{ created_at }} </p>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br/>
  <strong>Duração: </strong> {{ duration }} (em meses) <br/>
  <strong>Mensalidade: </strong> {{ monthly }} <br/>
  <strong>Valor Total: </strong> {{ price }} <br/>
  <strong>Início: </strong> {{ start_date }} <br/>
  <strong>Término: </strong> {{ end_date }} <br/>
</p>
