<strong>Olá, {{ student }} </strong>
<p>Informamos que um de nossos colaboradores atendeu a sua solicitação.</p>
<p>
  <strong>Solicitação: </strong> {{ id }} <br/>
  <strong>Data/Hora: </strong> {{ created_at }} <br/>
  <strong>Pergunta: </strong> {{ question }} <br/><br/>
  <strong>Resposta: </strong> {{ answer }} <br/>
  <strong>Respondido: </strong> {{ answer_at }} <br/>
</p>
